<!doctype html>
<html lang="ru">
@@include("./html/head.html", {
"title": "Error",
"style": "./css/errorMessage.css"
})
<body>
@@include("./html/header.html", {})
<main class="main">
    <div class="main__section section-inner">
        <h2>Ошибка! Такой страницы не существует!</h2>
    </div>
</main>
@@include("./html/footer.html", {})
</body>
</html>