<!DOCTYPE html>
<html lang="ru">
    @@include("./html/head.html", {
        "title": "Вопросы и ошибки",
        "style": "./css/form.css",
    })
    <body>
        @@include("./html/header.html", {})
        <!-- main -->
        <main class="main">
            <div class="main__container section-inner">
                <h2 class="main__title">Заполните форму</h2>
                <form action="#" method="post" class="main__form form">
                    <input list="type-question" type="text" class="input input__datalist" name="type" placeholder="Тип вопроса">
                    <datalist id="type-question" class="datalist__type-question type-question">
                        <option value="Вопрос" class="type-question__item"></option>
                        <option value="Ошибка" class="type-question__item"></option>
                    </datalist>
                    <textarea type="text" class="form__input input" name="message"></textarea>
                    <input value="Отправить" type="submit" class="button button_primary form__submit">
                </form>
            </div>
        </main>
        <!-- / main -->
        @@include("./html/footer.html", {})
        <script src="./js/validator.js"></script>
    </body>
</html>