<!DOCTYPE html>
<html lang="ru">
    @@include("./html/head.html", {
        "title": "Главная",
        "style": "./css/main.css",
    })
    <body>
        @@include("./html/header.html", {})
        <main class="main">
            <div class="main__section">
                <div class="main__container _container">
                    <h1>Игры от Red revolutioners</h1>
                </div>
            </div>
        </main>
        <section class="game-types">
            <div class="game-types__section section-inner">
                <div class="game-types__buttons">
                    <% types.forEach(type => {%>
                    <a href="./<%= type %>" class="button button_primary">
                        Undertale <%= type %>
                    </a>
                    <% }) %>
                </div>
            </div>
        </section>
        @@include("./html/footer.html", {})
    </body>
</html>