@import url("./style.css");

// === main ===
.main {
    display: flex;
    justify-content: center;
    flex-grow: 1;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 1163px) {
        
    }

    &__card {
        width: 328px;
        padding: 17px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: var(--brand-color);

        @media (max-width: 329px) {
            min-width: 150px;
        }
    }
}

.card {
    &__title {
        padding-bottom: 17px;
    }

    &__horizontal {
        width: 86%;
        border: 1px solid var(--brand-background);
        display: block;
    }

    &__text {
        padding-top: 17px;
    }
}
// === /main ===