@import url("./style.css");

// === main ===
.main {
    flex-direction: column;
    
    &__section {
        background-repeat: no-repeat;
        background-image: url(@img/main-background.svg);
        background-position: center center;
        background-size: cover;
        display: flex;
        min-height: 266px;
    }

    &__container {
        display: flex;
        align-items: center;
    }
}

// === / main ===
// === game-types ===
.game-types {
    display: flex;
    justify-content: center;
    flex-grow: 1;

    @media (max-width: 431px) {
        padding-top: var(--padding-security) 5px;
    }
    
    @media (max-width: 150px) {
        padding-top: var(--padding-security) 0;
    }

    &__section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__buttons {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        &>.button_primary {
            margin: 0 10px 20px 0;
        }
    }
}

// === / game-types ===